.container(ng-controller='LoginCtrl', id='login_page')
    .row
        .col-sm-12
            h1 Login

            p(ng-show='isLoggedIn()', id='login_welcome')
                | Hi {{user.name}}...

            form.form(id='login_form', name='form', ng-submit='login(form)', novalidate='', ng-hide='isLoggedIn()')
                .form-group
                    label Email
                    input.form-control(type='email', id='login_email', ng-model='user.email', required='true')
                .form-group
                    label Password
                    input.form-control(type='password',id='login_password', ng-model='user.password', required='true')
                .form-group.has-error
                    p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                        | Please enter your email and password.
                    p.help-block(id='login_server_error_msg', ng-if='errors.other')
                        | {{ errors.other }}
                        div
                    button.btn.btn-inverse.btn-lg.btn-login(id='login_submit', type='submit')
                        | Login
                    = ' '
                    a.btn.btn-default.btn-lg.btn-register(href='/signup')
                        | Register
                        hr
                        div
